@import 'global.scss';

.planet-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  text-align: left;

  &:nth-child(even) {
    background: $color-background-even;
  }

  &:nth-child(odd) {
    background: $color-background-odd;
  }

  &__user-information {
    flex-wrap: nowrap;
    padding: 10px;
  }
  &__paragraph {
    word-break: break-word;
    margin: 0;
  }
}
