.planet-list {
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow-y: auto;
  align-items: center;

  &__container {
    width: 90%;
    max-width: 780px;
  }

  &__loading-message {
    display: flex;
    align-items: center;
    padding: 15px;

    span {
      font-weight: bold;
      margin-left: 10px;
    }
  }

  &__failed-message {
    font-weight: bold;
    color: red;
    padding: 15px;
  }

  &__end-of-user-catalog-message {
    font-weight: bold;
    padding: 15px;
  }
}
